/strategy/Stategy/nbproject/private/
/strategy/Stategy/build/
/observer/observer/nbproject/private/
/observer/observer/build/
/composite/Composite/nbproject/private/
/composite/Composite/build/
/composite/Singleton/nbproject/private/
/composite/Singleton/build/
/singleton/Singleton/build/
/facade/Facade/nbproject/private/
/facade/Facade/build/
/facade/GestaoManutencao/nbproject/private/
/GestaoManutencao/nbproject/private/
